<tr>
  <td><%= track.title %></td>
  <td><%= track.artist %></td>
  <td><%= track.album %></td>
  <td class="tags"><% track.tags(current_user.id).each do |tag| %>
    <span><%= tag.name %>,</span>
  <% end %></td>
  <td>
    <form data-user-id="<%= current_user.id %>" data-track-id="<%= track.id %>" class="form-inline" action="/users/<%= current_user.id %>/tracks/<%= track.id %>/tags/add" method="post">
      <div class="form-group">
        <input type="text" class="form-control input-sm" name="tag" placeholder="Enter tag here">
      </div>
      <button type="submit" class="btn btn-default btn-xs add-tag">Add tag</button>
    </form>
  </td>
</tr>

