<tr>
  <td><%= track.title %></td>
  <td><%= track.artist %></td>
  <td><%= track.album %></td>
  <td class="tags"><% track.tags(current_user.id).each do |tag| %>
    <button type="button" class="tag"><div class="remove-tag">&#10006</div><%= tag.name %></button>

  <% end %></td>
  <td>
    <form data-user-id="<%= current_user.id %>" data-track-id="<%= track.id %>" class="form-inline" action="/users/<%= current_user.id %>/tracks/<%= track.id %>/tags/add" method="post">
      <div class="form-group">
        <input type="text" class="form-control input-sm" name="tag" placeholder="Enter tag here" required>
      </div>
    </form>
  </td>
</tr>

